{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Edit - Carrent</title>
<link rel="stylesheet" href="../static/css/edit-reservation.css">
</head>

<body>
	<header>
		<nav class="menu">
			<div class="logo">
				<a href="home">
					<img src="../static/img/logo.png" alt="carrent logo">
				</a>
			</div>
			<ul class="menu-links">
				<li><a href="home">Home</a></li>
      			<li><a href="cars">Cars</a></li>
      			<li><a href="reserve">My Reservations</a></li>
      			<li><a href="contact">Contact</a></li>
      			<li class="dropdown">
  					<a href="#" class="dropbtn">Account ▾</a>
  					<ul class="dropdown-menu">
    					<li><a href="login">Login</a></li>
    					<li><a href="#" onclick="logout()">Logout</a></li>
  					</ul>
				</li>

			</ul>
		</nav>
	</header>
	<section class="edit-section">
		<h2>Edit Reservation</h2>
		<form class="edit-form">
			<div class="form-group">
				<label for="car">Select Car</label>
				<select id="car" required>
					<option>Toyota Corella - $45/day</option>
					<option>Kia Sportage - $60/day</option>
					<option>Honda Civic - $50/day</option>
				</select>
			</div>
			
			<div class="form-group">
				<label>Pickup Date</label>
				<input type="date" required>
			</div>

			<div class="form-group">
				<label>Return Date</label>
				<input type="date" required>
			</div>
			
        	<div class="price-box">
            	<p>Total Price: <strong>$90</strong></p>
        	</div>	
			        <div class="buttons">
            <button type="submit" class="btn save">Save Changes</button>
            <a href="my-reservation.html" class="btn back">Back</a>
        </div>
		</form>
	</section>	
	<footer class="footer">
		<div class="footer-container">
			<div class="footer-about">
				<h2>Carrent</h2>
				<p>Your trusted partner for easy and reliable car rentals.<br> 
      				Find your perfect ride anytime, anywhere!</p>
			</div>
			<div class="footer-links">
				<h4>Quick Links</h4>
				<ul>
        			<li><a href='home'>Home</a></li>
        			<li><a href="cars">Cars</a></li>
        			<li><a href="reserve">My Reservations</a></li>
        			<li><a href="contact">Contact</a></li>
				</ul>
			</div>
			<div class="footer-contact">
				<h4>Contact Us</h4>
				<p>Email: support@carrent.com</p>
      			<p>Phone: +1 234 567 890</p>
			</div>
		</div>
		<div class="footer-bottom">
    		<p>&copy; 2025 CarRent. All rights reserved.</p>
  		</div>
	</footer>
</body>
</html>
