@charset "utf-8";
body {
  	margin: 0;
 	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
  	font-family: 'Montserrat', sans-serif;
}

.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background-color: #FF4C00;
	color: black;
}
.menu .logo img {
  	height: 50px;      
  	width: auto;        
  	display: block;
}
.menu-links {
  	list-style: none;
  	display: flex;
  	gap: 30px;
}
.menu-links li a {
  	text-decoration: none;
	color: black;
  	font-size: 17px;
  	transition: color 0.3s;
}
.menu-links li a:hover {
  color: white; 
}
/* dropdown container */
.dropdown {
  position: relative;
}

/* dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  list-style: none;
  padding: 10px 0;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  display: none;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 8px 20px;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-menu li a:hover {
  background-color: #fff5e6;
  color: #FF4C00;
}

/* hover برای باز شدن */
.dropdown:hover .dropdown-menu {
  display: block;
}


.cars{
	padding: 60px 20px;
	background-color: #fff5e6;
	text-align: center;
}
.cars h2{
	font-size: 36px;
	color: #FF4C00;
	margin-bottom: 50px;
}
.car-list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
}
.car-card{
	background-color: white;
	border: 2px solid #FF4C00;
	border-radius: 15px;
	width: 300px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	text-align: left;
	transition: all 0.3s;
}
.car-card:hover{
	transform: translateY(-8px);
	box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}
.car-card img{
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 15px;
}
.car-card h3{
	color: #FF4C00;
	margin-bottom: 10px;
}
.car-card p{
	margin: 6px 0;
	font-size: 15px;
}
.btn{
	display: inline-block;
	background-color: #FF4C00;
	color: black;
	padding: 10px 20px;
	border-radius: 25px;
	text-decoration: none;
	font-weight: bold;
	transition: 0.3s;
}
.btn:hover{
	color: white;
}


.footer{
	background-color: black;
	color: white;
	padding: 50px 20px 20px;
	font-size: 17px
}
.footer-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	gap: 40px;
}
.footer h2, 
.footer h4 {
  	color: #FF4C00;
  	margin-bottom: 15px;
}
.footer-about{
	flex: 1 1 300px;
}
.footer-links ul{
	list-style: none;
	padding: 0;
}
.footer ul li{
	margin-bottom: 10px;
}
.footer ul li a{
	color: white;
	text-decoration: none;
	transition: 0.3s;
}
.footer ul li a:hover{
	color: #FF4C00;
}
.footer-contact p{
	margin: 6px 0;
}
.footer-bottom{
	text-align: center;
	border-top: 1px solid #333;
	margin-top: 30px;
	padding-top: 15px;
	font-size: 14px;
	color: #ccc;
}

