@charset "utf-8";
body {
  	margin: 0;
 	padding: 0;
	font-family: 'Open Sans', sans-serif';
}
h1, h2, h3 {
  	font-family: 'Montserrat', sans-serif';
}

.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;'
	padding: 15px 30px;
	background-color: #FF4C00;
	color: black;
}
.menu .logo img {
  	height: 50px;      
  	width: auto;        
  	display: block;
}
.menu-links {
  	list-style: none;
  	display: flex;
  	gap: 30px;
}
.menu-links li a {
  	text-decoration: none;
	color: black;
  	font-size: 17px;
  	transition: color 0.3s;
}
.menu-links li a:hover {
  color: white; 
}
/* dropdown container */
.dropdown {
  position: relative;
}

/* dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  list-style: none;
  padding: 10px 0;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  display: none;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 8px 20px;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-menu li a:hover {
  background-color: #fff5e6;
  color: #FF4C00;
}

/* hover برای باز شدن */
.dropdown:hover .dropdown-menu {
  display: block;
}

.confirmation-section { 
	max-width: 500px; 
	margin: 50px auto; 
	background: white; 
	padding: 30px; 
	border-radius: 10px; 
	box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}
.reservation-details p, .payment-method { 
	margin: 15px 0; 
	font-size: 16px; 
}
select, button { 
	width: 100%; 
	padding: 10px; 
	border-radius: 6px; 
	margin-top: 10px; 
	border: 1px solid #ccc; 
}
button { 
	background-color: #FF4C00; 
	color: black; 
	font-weight: bold; 
	cursor: pointer; 
	transition: 0.3s; }
button:hover { 
	color: white; 
}
.footer{
	background-color: black;
	color: white;
	padding: 50px 20px 20px;
	font-size: 17px
}
.footer-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	gap: 40px;
}
.footer h2, 
.footer h4 {
  	color: #FF4C00;
  	margin-bottom: 15px;
}
.footer-about{
	flex: 1 1 300px;
}
.footer-links ul{
	list-style: none;
	padding: 0;
}
.footer ul li{
	margin-bottom: 10px;
}
.footer ul li a{
	color: white;
	text-decoration: none;
	transition: 0.3s;
}
.footer ul li a:hover{
	color: #FF4C00;
}
.footer-contact p{
	margin: 6px 0;
}
.footer-bottom{
	text-align: center;
	border-top: 1px solid #333;
	margin-top: 30px;
	padding-top: 15px;
	font-size: 14px;
	color: #ccc;
}


