@charset "utf-8";
body {
  	margin: 0;
 	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
  	font-family: 'Montserrat', sans-serif;
}

.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background-color: #FF4C00;
	color: black;
}
.menu .logo img {
  	height: 50px;      
  	width: auto;        
  	display: block;
}
.menu-links {
  	list-style: none;
  	display: flex;
  	gap: 30px;
}
.menu-links li a {
  	text-decoration: none;
	color: black;
  	font-size: 17px;
  	transition: color 0.3s;
}
.menu-links li a:hover {
  color: white; 
}
/* dropdown container */
.dropdown {
  position: relative;
}

/* dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  list-style: none;
  padding: 10px 0;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  display: none;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 8px 20px;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-menu li a:hover {
  background-color: #fff5e6;
  color: #FF4C00;
}

/* hover برای باز شدن */
.dropdown:hover .dropdown-menu {
  display: block;
}

.reservation-card{
	background: white;
	border-radius: 12px;
	display: flex;
	padding: 15px;
	margin-bottom: 25px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
.reservation-card img{
	width: 220px;
	height: 150px;
	border-radius: 10px;
	object-fit: cover;
	margin-right: 20px;
}
.details h3{
	margin-bottom: 10px;
	font-size: 22px;
}
.details p{
	margin: 3px 0;
}
.status{
	margin-top: 10px;
	font-weight: bold;
}
.status.confirmed{
	color: green;
}
.status.pending{
	color: orange;
}
.status.cancelled{
	color: red;
}
.actions{
	margin-top: 15px;
	display: flex;
	gap:10px;
}
.btn{
	padding: 8px 14px;
	border-radius: 6px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border: none;
}
.btn.edit{
	background: #FF4C00;
	color: black;
}
.btn.cancel{
	background: #DDDDDD;
	color: black;
}

.footer{
	background-color: black;
	color: white;
	padding: 50px 20px 20px;
	font-size: 17px
}
.footer-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	gap: 40px;
}
.footer h2, 
.footer h4 {
  	color: #FF4C00;
  	margin-bottom: 15px;
}
.footer-about{
	flex: 1 1 300px;
}
.footer-links ul{
	list-style: none;
	padding: 0;
}
.footer ul li{
	margin-bottom: 10px;
}
.footer ul li a{
	color: white;
	text-decoration: none;
	transition: 0.3s;
}
.footer ul li a:hover{
	color: #FF4C00;
}
.footer-contact p{
	margin: 6px 0;
}
.footer-bottom{
	text-align: center;
	border-top: 1px solid #333;
	margin-top: 30px;
	padding-top: 15px;
	font-size: 14px;
	color: #ccc;
}
