@charset "utf-8";
body {
  	margin: 0;
 	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
  	font-family: 'Montserrat', sans-serif;
}

.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background-color: #FF4C00;
	color: black;
}
.menu .logo img {
  	height: 50px;      
  	width: auto;        
  	display: block;
}
.menu-links {
  	list-style: none;
  	display: flex;
  	gap: 30px;
}
.menu-links li a {
  	text-decoration: none;
	color: black;
  	font-size: 17px;
  	transition: color 0.3s;
}
.menu-links li a:hover {
  color: white; 
}
/* dropdown container */
.dropdown {
  position: relative;
}

/* dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  list-style: none;
  padding: 10px 0;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  display: none;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 8px 20px;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-menu li a:hover {
  background-color: #fff5e6;
  color: #FF4C00;
}

/* hover برای باز شدن */
.dropdown:hover .dropdown-menu {
  display: block;
}

.success-section { 
	max-width: 500px; 
	margin: 100px auto; 
	background: white; 
	padding: 30px; 
	border-radius: 10px; 
	box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
	text-align: center; 
}
.reservation-summary p { 
	margin: 15px 0; 
	font-size: 16px; 
}
.btn { 
	display: inline-block; 
	margin-top: 20px; 
	padding: 10px 20px; 
	background-color: #FF4C00; 
	color: black; 
	text-decoration: none; 
	border-radius: 6px; 
	font-weight: bold; 
}
.btn:hover { 
	color: white; 
}
.success-title{
	color: green;
}
